.single_about {
  border: 1px solid $border_gray;
  padding: 30px;
  width: 380px;
  float: left;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }

  h4 {
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 500;
  }

  p {
    margin: 20px 0;
    text-align: justify;
  }

  a {
    color: $black;
  }
}