.single_blog {
  float: left;
  width: 380px;
  margin-right: 30px;
  background-color: $bg_gray;
  border: 1px solid $border_gray;
  overflow: hidden;
  &:hover {
    .blog_img {
      transform: scale(1.1);
    }
  }

  &:last-child {
    margin-right: 0;
  }

  .blog_img {
    height: 250px;
    background-position: center;
    background-size: cover;
    transition: .3s;
  }

  .blog_content {
    padding: 20px;

    h4 {
      font-size: 22px;
      text-transform: capitalize;
    }

    p {
      margin: 20px 0;
    }
  }
}