.cta_area {
  color: $white;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgb, 0, 20, 20);

  h4 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    margin: 30px 0;
  }
}
